./.git/objects/3a/57b4d787496adc7e738f1ad0ecdcd76f1a9130
./.git/objects/5b/9237c352a5042d31c9b5cb1c2edc84e44d9069
./.git/objects/75/b5473c62a2b9d6d37a020bb3e9f06708b86d8e
./.git/objects/7e/4a09546ef3db37b231580ddcc001342a2dae40
./.git/objects/85/2558b400e0c4be3558f2f4c09521f036a3993f
./.git/objects/c0/c6a1afe2e32fc609769e6dda1c065c501d3f13
./collisions2015WithLocation.csv
./Spatial_Clean/data/brooklyndropoffs_2015.csv
./Spatial_Clean/data/financialdropoffs_2015.csv
./Spatial_Clean/data/financialpickups_2015.csv
./Spatial_Clean/data/januaryNew.csv
./Spatial_Clean/data/nyudropoffs_2015.csv
./Spatial_Clean/data/nyupickups_2015.csv
./Spatial_Clean/data/timesquaredropoffs_2015.csv
./Spatial_Clean/data/timesquarepickups_2015.csv
./Spatial_Clean/datashader-master/examples/.ipynb_checkpoints/Untitled-checkpoint.ipynb
./Spatial_Clean/datashader-master/examples/data/januaryNew.csv
./Spatial_Clean/datashader-master/examples/data/nyc_taxi.csv
./Spatial_Clean/datashader-master/examples/data/taxigreen(06-15)_table.csv
./Spatial_Clean/datashader-master/examples/nyc_taxi.ipynb
./Spatial_Clean/datashader-master/examples/Untitled.ipynb
